/** @format */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Caudex&family=Major+Mono+Display&family=Mrs+Saint+Delafield&family=Unica+One&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(245, 245, 245);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.row {
  --bs-gutter-x: 0rem !important;
}
a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

#top-bar {
  height: 100%;
  background-color: #d98ba0;
  width: 100vw;
  position: sticky;
  text-align: center;
  padding: 2.5vh;
}
#top-bar:hover {
  cursor: pointer;
}

#top-bar-text {
  font-weight: bolder;
  color: rgb(245, 245, 245);
  font-size: 20px;
  font-family: "Amatic SC", cursive;
}

#top-bar-sub-text {
  font-weight: bolder;
  color: rgb(245, 245, 245);
  font-size: 14px;
  font-family: "Major Mono Display", monospace;
}

.title {
  text-align: center;
  color: #bf9393;
  font-family: "Caudex", serif;
}
.dot {
  color: #bf8969b6;
}
#aya-text {
  font-size: 7vw;
  color: #bf8969;
  font-family: "Abril Fatface", cursive;
}
.span-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#x-black {
  bottom: -12px;
  left: -20px;
  position: relative;
}

img {
  vertical-align: middle;
}

#close-top-bar {
  top: -2vh;
  left: 46vw;
  position: relative;
  border-radius: 50%;
  padding: 0 2vh 1.5vh;
  background: #d98ba0;
  display: inline-block;
}
#close-top-bar:hover {
  cursor: pointer;
}
#x-img {
  position: relative;
  top: 4px;
}
.border-top-bar {
  border-bottom: 1px dotted black;
}

.by-title {
  left: 12vw;
  top: -1.8vh;
  max-width: 40vw;
  color: rgb(0 0 0 / 66%);
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 100;
  font-size: 5vw;
  position: relative;
}

.navbar-container {
  padding: 3vh 0;
  width: 100vw;
  position: sticky;
  top: 0px;
  background-color: rgb(245, 245, 245);
}
.nav-icon {
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
  text-align: center;
  font-family: "Unica One", cursive;
  font-size: small;
}
.menu-nav {
  margin-bottom: 2vh;
}
.nav-item-selected {
  cursor: pointer;
  text-decoration-line: underline;
  color: crimson;
}

.top-bar-container {
  background-color: rgb(245, 245, 245);
}

@media (min-width: 768px) {
  .search-bar {
    padding-left: 30vw !important;
  }
  .menu-btn {
    display: none;
  }

  .hidden-md {
    display: none !important;
  }
  .by-title {
    left: 13vw !important;
    top: 0vh !important;
    max-width: 40vw;
    color: rgb(0 0 0 / 66%);
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 100;
    font-size: 5vw;
    position: relative;
  }
  #aya-text {
    font-family: "Caudex", serif;
  }
}

.search-container {
  text-align: center;
  padding: 5vw 0;
  display: inline-block;
}

.tools-container {
  padding: 5vw 0;
  text-align: center;
  display: inline-block;
}

#search-icon {
  vertical-align: middle;
}

.search-bar-container {
  text-align: center;
  padding: 2vw 0;
  width: 100vw;
  background-color: rgba(245, 245, 245);
}

.search-input {
  float: left;
  background-color: rgb(245, 245, 245);
  font-size: large;
  font-family: monospace;
  padding: 2vh;
}
.search-input input {
  background-color: rgb(245, 245, 245);
  font-size: large;
  font-family: monospace;
}
input:focus {
  color: #d98ba0;
}

.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}

.search-input::before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==");
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
}

.search-input > input:focus {
  outline: none;
}

.filter-search {
  background-color: rgb(245, 245, 245);
  font-size: large;
  font-family: monospace;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* Hamburguer Btn */
.menu-btn {
  position: fixed;
  left: 5vw;
  top: 3vh;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 7vw;
  height: 2px;
  background: rgb(80 80 80);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 7vw;
  height: 2px;
  background: rgb(80 80 80);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-6px);
}
.menu-btn__burger::after {
  transform: translateY(6px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(70vw);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.bm-morph-shape {
  fill: rgba(0, 0, 0, 0);
}
.bm-burger-button {
  display: none;
}
.bm-menu {
  top: 15vh;
  height: 70vh !important;
  text-align: center;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.side-item {
  text-align: start;
  cursor: pointer;
  font-family: "Unica One", cursive;
  font-size: small;
  margin: 2vw;
  margin-left: 5vw;
}
.side-item:focus {
  outline: none;
}
.bm-menu-wrap {
  z-index: 1000 !important;
  width: 50vw !important;
}
#bgvid {
  width: 100vw;
}
.headroom-wrapper {
  height: auto !important;
}
.planet {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),
    auto;
}

.container-avatar {
  background-color: rgb(245, 245, 245);
  margin: auto;
  text-align: -webkit-center !important;
  width: 90%;
  align-self: center;
  padding: 1em 0;
  margin-bottom: 2vh;
  border-bottom: solid 1px #ffa9f7;
}
.container-avatar:focus {
  outline: none;
}

.avatar {
  width: 5em;
  height: 5em;
  border: 5px solid #040404;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.status {
  font-family: "Abril Fatface", cursive;
  align-items: center;
  margin-top: 3vh;
  color: #d98ba0;
}
.status h2 {
  font-weight: bold;
  font-size: 0.75em;
}
.bm-menu:focus,
input:focus {
  outline: none;
}

.container-orders-side {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.order-avatar {
  display: flex;
}
.product-name {
  font-family: "Abril Fatface", cursive;
  color: coral;
}
.order-avatar img {
  max-width: 65px;
  max-height: 40px;
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.order-info {
  padding-left: 1em;
  justify-content: space-between;
}

.order-date {
  font-size: 7px;
  font-weight: bolder;
  color: #000;
}
.order-sku {
  font-family: "Major Mono Display", monospace;
  font-size: 10px;
  font-weight: 300;
  color: #999;
}
.order-p {
  font-weight: 400;
  font-size: 0.6em;
  color: #555;
}

#new-produucts img {
  width: 100vw;
}

#camera-icon {
  width: 20px;
  height: 20px;
  top: 11vh;
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
}
.bm-item:focus {
  outline: none;
}
.title-orders {
  position: relative;
  color: #d98ba0;
  top: -20px;
  font-family: "Abril Fatface", cursive;
  font-size: 17px;
}
