/** @format */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caudex&family=Major+Mono+Display&family=Mrs+Saint+Delafield&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(245, 245, 245);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#top-bar {
  height: 100%;
  background-color: #d98ba0;
  width: 100vw;
  position: sticky;
  text-align: center;
  padding: 2.5vh;
}
#top-bar:hover {
  cursor: pointer;
}

#top-bar-text {
  font-weight: bolder;
  color: rgb(245, 245, 245);
  font-size: 20px;
  font-family: "Amatic SC", cursive;
}

#top-bar-sub-text {
  font-weight: bolder;
  color: rgb(245, 245, 245);
  font-size: 14px;
  font-family: "Major Mono Display", monospace;
}

.title {
  color: #bf9393;
  font-family: "Caudex", serif;
}
.dot {
  color: #bf8969b6;
}
#aya-text {
  font-size: 60px;
  color: #bf8969;
}
.span-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

#close-top-bar {
  top: -2vh;
  left: 46vw;
  position: relative;
  border-radius: 50%;
  padding: 0 2vh 1.5vh;
  background: #d98ba0;
  display: inline-block;
}
#close-top-bar:hover {
  cursor: pointer;
}
#x-img {
  position: relative;
  top: 4px;
}
.border-top-bar {
  border-bottom: 1px dotted black;
}

.by-title {
  left: 21vh;
  bottom: 6vh;
  color: rgb(0 0 0 / 66%);
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 100;
  font-size: 35px;
  position: relative;
}
